/*-- scss:rules --*/
 
img { 
    border-radius: 10px;
}

.no-round {
    border-radius: 0px;
}   

.grid {
    row-gap: 4.5rem; /* or: grid-row-gap */
}

.navbar-icon {
    height: 30px; /* Adjust the size */
    vertical-align: middle; /* Ensure the image aligns with the text */
    margin-right: 10px; /* Add space between the image and the text */
  }
  
.navbar-logo {
    border-radius: 0px;
}

.footer-icons img {
    width: 40px !important;
    height: 40px;
    object-fit: contain;
}

/* Hide all logos by default */
.footer-icons img.logo-dark,
.footer-icons img.logo-light {
    display: none !important;
    height: 40px !important;
    vertical-align: middle;
}

/* Show dark-mode logos when 'quarto-dark' class is present */
body.quarto-dark .footer-icons img.logo-dark {
  display: inline !important;
}

/* Show light-mode logos when 'quarto-light' class is present */
body.quarto-light .footer-icons img.logo-light {
  display: inline !important;
}